body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    /* 添加渐变背景 */
    background-image: linear-gradient(
        to right,
        #fecea8, /* 基础颜色 */
        #fed976 30%, /* 类似颜色，稍微偏黄 */
        #fdd09e 60%, /* 同样是暖色调，略带粉 */
        #fadbcd 90% /* 略微偏冷的浅黄色调，增加对比 */
    );
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover, nav a.active {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* 添加背景图片 */
    background-image: url('../img/main.png'); /* 请替换为你的图片路径 */
    /* 设置背景图片尺寸 */
    background-size: cover; /* 或其他如contain等，根据需要调整 */
    /* 设置背景图片位置 */
    background-position: center center; /* 图片居中，可按需调整 */
    /* 保证内容在图片之上 */
    position: relative;
    /* 添加一个伪元素作为半透明覆盖层 */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.7); /* 半透明白色，最后一个参数是透明度，范围0-1 */
    }
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 55%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateX(10%); /* 将卡片向右平移自身宽度的10%，可根据需要调整数值 */
}

h2 {
    margin-top: 0;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}